{% extends "base.html" %}
{% block content %}
<div class="container card" style="align-items: center;">
    <form class="form edit_client" style="margin: 20px 0px 20px 0px;" hx-post="" hx-target="#result" hx-swap="innerHTML">
       <div style="display: none;" id="result" hx-trigger="load"></div>
        {% csrf_token %}
    <table>
        {{ edit_client_form }}
    </table>
    <button type="submit" class="btn btn-primary">Изменить</button>
    <button class="btn btn-danger delete client_delete" hx-delete="{% url 'mainapp:delete_client' edited_client_id %}"
                hx-confirm="Вы точно хотите удалить {{ edited_client_name }} ?">Удалить</button>
    </form>
</div>
{% endblock %}

