{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
    <title>Document</title>
</head>
<body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a type="button" class="btn btn-primary">Заказы</a>
      <a type="button" class="btn btn-success">Клиенты</a>
      <a type="button" class="btn btn-secondary">Товары</a>
      <a type="button" class="btn btn-danger" href="{% url 'orders' %}">API заказы</a>
      <a type="button" class="btn btn-danger" href="{% url 'clients' %}">API клиенты</a>
      <a type="button" class="btn btn-warning" href="{% url 'admin:index' %}">Admin</a>
    </div>
  </nav>
</header>



    <script src="{% static 'js/app.js' %}"></script>

</body>
</html>