{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container card" style="align-items: center;">
    <form class="form new_client" style="margin: 20px 0px 20px 0px; width: 80%" hx-post="" hx-target="#result" hx-swap="innerHTML">
            {% csrf_token %}
        <label class="form-label">Имя:</label>
        {% render_field new_client_form.name hx-post="/check_username/" hx-target="#client_name_error" hx-trigger="keyup delay:0.1s" class="form-control" autocomplete="off" %}
        <div id="client_name_error"></div>
        <label class="form-label">Контакт</label>
        {% render_field new_client_form.contact class="form-control" %}
        <label class="form-label">Источник заказа</label>
        {% render_field new_client_form.where_from class="form-control" %}
        <label class="form-label">Индивидуальные условия заказа</label>
        {% render_field new_client_form.oder_details class="form-control" %}
        <label class="form-label">Адрес доставки</label>
        {% render_field new_client_form.address class="form-control" %}
        <label class="form-label">Заметки</label>
        {% render_field new_client_form.notes class="form-control" %}

        <br>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
    <div style="display: none;" id="result" hx-trigger="load"></div>
</div>
{% endblock %}

