{% extends "base.html" %}
{% block content %}
<div class="container card" style="align-items: center;">
        <form class="form edit_order" style="margin: 20px 0px 20px 0px;" hx-post="" hx-target="#result" hx-swap="innerHTML">
            {% csrf_token %}
        <table>
            {{ order_change_form }}
        </table>
        <button type="submit" class="btn btn-primary" >Изменить</button>
        <button class="btn btn-danger delete_order" hx-delete="{% url 'mainapp:delete_order' deleted_order %}">Удалить</button>
    </form>
     <div style="display: none;" id="result" hx-trigger="load"></div>
</div>
{% endblock %}

