<tr class="{% if i.status %}grey-text{% endif %}">
    <td class="align-middle text-center ps-2">
        {{ i.id }}
    </td>
    <td class="align-middle ps-2">
        {{ i.product }}
    </td>
    <td class="align-middle ps-2">
        {{ i.client }}
    </td>
    <td class="align-middle text-center">
        {{ i.quantity }}
    </td>
    <td class="align-middle text-center">
        {{ i.status }}
    </td>
    <td class="align-middle text-center">
        {{ i.description }}
    </td>
    <td class="align-middle text-center">
        Кнопка удалить
    </td>

    </td>
</tr>